In [92]:
import pandas as pd

In [93]:
# 입력 파일 입력
train_origin_df = pd.read_csv('')

In [94]:
train_origin_df.head()

,ID,text,target,url,date
0,ynat-v1_train_00000,유튜브 내달 2일까지 크리에이터 지원 공간 운영,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.06.30. 오전 10:36
1,ynat-v1_train_00001,어버이날 막따가 흐려저…남부지방 여튼 황사,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.05.08. 오전 5:25
2,ynat-v1_train_00002,내년부터 국가RD 평가 때 논문건수는 반영 않는다,2,https://news.naver.com/main/read.nhn?mode=LS2D...,2016.03.15. 오후 12:00
3,ynat-v1_train_00003,김명자 신임 과총 회장 원로와 젊은 과학자 지혜 모을 것,2,https://news.naver.com/main/read.nhn?mode=LS2D...,2017.02.28. 오전 9:54
4,ynat-v1_train_00004,회새긴간 작까 김동시 걍심꼬백 뜽 새 소설집 뚜권 출간,3,https://news.naver.com/main/read.nhn?mode=LS2D...,2018.04.03. 오전 7:05

## konlpy 설치
!apt-get install -y g++ openjdk-8-jdk python3-dev python3-pip curl
!pip install --upgrade pip
!pip install konlpy

## Mecab 설치
* mecab-ko
````
cd /tmp
sudo wget https://bitbucket.org/eunjeon/mecab-ko/downloads/mecab-0.996-ko-0.9.2.tar.gz
sudo tar xvf mecab-0.996-ko-0.9.2.tar.gz

cd /tmp/mecab-0.996-ko-0.9.2
sudo ./configure
sudo make check
sudo make install
````

* mecab-dic
````
cd /tmp
wget https://bitbucket.org/eunjeon/mecab-ko-dic/downloads/mecab-ko-dic-2.1.1-20180720.tar.gz
tar zxvf mecab-ko-dic-2.1.1-20180720.tar.gz

cd /tmp/mecab-ko-dic-2.1.1-20180720
sudo ./autogen.sh
sudo ./configure
sudo make
sudo make install
````

* mecab-python
````
cd /tmp
git clone https://bitbucket.org/eunjeon/mecab-python-0.996.git
cd mecab-python-0.996
python3 setup.py build
python3 setup.py install
````

In [96]:
from konlpy.tag import Mecab
mecab = Mecab()

In [97]:
import numpy as np

In [98]:
def extract_noun(x):
    x['text'] = ' '.join(mecab.nouns(x['text']))
    if x['text'] == '':
        x['text'] = np.NaN
    return x

In [99]:
train_extract_noun_df = train_origin_df
train_extract_noun_df = train_extract_noun_df.apply(lambda x: extract_noun(x), axis=1)

In [100]:
train_extract_noun_df.isnull().sum()

ID        0
text      5
target    0
url       0
date      0
dtype: int64

In [101]:
train_extract_noun_df.dropna(inplace=True)

In [102]:
train_origin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45678 entries, 0 to 45677
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      45678 non-null  object
 1   text    45678 non-null  object
 2   target  45678 non-null  int64
 3   url     45678 non-null  object
 4   date    45678 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.7+ MB

In [103]:
train_extract_noun_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45673 entries, 0 to 45677
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      45673 non-null  object
 1   text    45673 non-null  object
 2   target  45673 non-null  int64
 3   url     45673 non-null  object
 4   date    45673 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.1+ MB

In [104]:
# 출력 파일 입력
train_extract_noun_df.to_csv('', index=False)